module.exports = {
  /// //////////////////
  //      TWITCH      //
  /// //////////////////
  // The token to authenticate your chatbot with Twitch's servers. Generate this with https://twitchapps.com/tmi/ (a Twitch community-driven wrapper around the Twitch API), while logged in to your chatbot account. The token will be an alphanumeric string.
  // twitch user name:
  TW_OAUTH_TOKEN: 'oauth:',

  // The Twitch channel name where you want to run the bot. Usually this is your main Twitch account.
  TW_CHANNEL_NAME: '',

  // ======== This is optional ========
  // as default TW_CHANNEL_NAME + '_bot' is used as username of bot
  // The account (username) that the chatbot uses to send chat messages. This can be your Twitch account. Alternately, many developers choose to create a second Twitch account for their bot, so it's clear from whom the messages originate.
  BOT_USERNAME: '',

  /// //////////////////
  //      DISCORD     //
  /// //////////////////

  // see following page to check detail. https://support.discordapp.com/hc/en-us/articles/228383668-Intro-to-Webhooks
  DISCORD_TOKEN: '',
  // discord channnel: chat_log,
  DISCORD_CHANNEL_ID: '',
}
